/*MAIN PAGE*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:45rem;
  height: 45rem;
  position: relative;
  z-index: 5;
  bottom: 680px;
}

/*GENERAL*/
.container {
  background-image: url("./images/fondo3.jpg");
  background-repeat: no-repeat;
  height: 662px;
}

.menu-bandas {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  color: #121515;
  width:40%;
  margin-top: 600px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: space-around;
  transform: rotate(270deg);
	transform-origin: left top 0;
  position: relative;
  z-index: 0;
  max-height: 680px;
}
.menu-bandas a {
  -webkit-transform: rotate(270deg);
  transform-origin: left top 0;
}


/*PAGINA BANDAS*/
.main-bandas {
  font-weight: bold;
  font-family: 'Roboto mono', monospace;
  font-size: 70px;
  margin-left: 100px;
  text-align: left;
  line-height: 5.9rem;
  padding-top: 30px;
  margin-top: 20px;
  position: relative;
  bottom: 580px;
  text-transform: uppercase;
  z-index: 1;
}

/*PAGINA ABOUT*/
.text-about {
  text-align: left;
  font-size: 50px;
  position: relative;
  bottom: 530px;
  margin-left: 100px;
  width: 85%;
}


/*CATALOGO*/

.courses {
  position: relative;
  bottom: 530px;
  padding-top: 6%;
  left:7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:90%;
}

.course {
  width: 20%;
  padding-bottom: 100px;
}

.course-txt {
  font-family: "roboto mono";
  font-size: 1.5rem;
}

.course-img {
  width:200px;
  height:200px;
}
